@{
  Layout = "_Layout";
}


<h1>Add a Contact</h1>
<p>Add a Contact here:</p>
<form action="/contact" method="post">
  <label for="contact-name">Contact Name</label>
  <input id="contact-name" name="contact-name" type="text">
  <button type="submit">Add</button>
</form>
<p><a href="/">Back to Index</a></p>
<p><a href="/contact">Back to Contacts</a></p>
