@{
  Layout = "_Layout";
}


<h1>Add a new item to @Model.GetName()</h1>
<form action='/address' method='post'>
  <input id='contact-id' name='contact-id' type='hidden' value='@Model.GetId()'>
  <label for='address-description'>Address description</label>
  <input id='address-description' name='address-description' type='text'>
  <button type='submit'>Add Address</button>
</form>
